<header>
  <h1>Web Florian Spindler</h1>
  <nav class="header">
    <a routerLink="/catalogue" routerLinkActive="active" class="nav-link">Catalogue</a>
    <a routerLink="/inscription" routerLinkActive="active" class="nav-link">Inscription</a>
    <!-- <a routerLink="/profil" routerLinkActive="active" class="nav-link">Profil</a> -->
    <a routerLink="/panier" routerLinkActive="active" class="nav-link">Panier</a>
    <a routerLink="/login" routerLinkActive="active" class="nav-link">Login</a>


  </nav>
</header>
